@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
  

}

.logo{
    width: 100px;
}
.maglens{
    width: 20px;
}

header{
    width:100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: absolute;
    z-index: 150;
    padding: 0.9rem;
    top: 0;
    left: 0;




}

header nav{
    
    max-width:1400px;
    margin:0 auto;
    padding:0.2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style:none;
    align-items:center;

}
header ul a{

    text-decoration:none;
    color:#fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-size: 0.83rem;
    font-weight: 300;

}  
.search a{
    padding: 0 3 rem;
}
.hamburger{
    padding-left: 1.5rem;
}
.hamburger a{
    padding: 0%;
    width:37px;
    height:37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius :50%;
    background-color: rgba(115,115,115,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px); ;

}

.hamburger a .bar{
    position:relative;
    width:52%;
    height:1.3px;
    background-color: #ffffff;
    border-radius:2px;
    z-index: 100;


}



.hamburger .bar::before,.hamburger .bar::after{

    content:"";
    position:absolute;
    left:50%;
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
    transform: translateX(-50%);


}

.hamburger .bar::before{

    top:-4.5px
}

.hamburger .bar::after{

    top:4.5px
}

main{
    position: relative;
    background-color: rgb(198, 226, 198);
    height:100vh;
    width:100vw;
    overflow:hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
     
}

.bg-img{
    position: absolute;
    width: 194.44%;
    top: calc(50% - 46.43%);
    left: calc(50%);

    

}

.fog-1 {
    z-index: 2;
    top: calc(50% - 11.90%);
    left: calc(50% + 20.83%);
    width: 131.94%;
    position: absolute;
    
  }
  
  .mountain-10 {
    z-index: 3;
    top: calc(50% + 8.21%);
    width: 60.42%;
    left: calc(50% + 15.97%);
    position: absolute;
    
  }
  
  .fog-2 {
    z-index: 4;
    top: calc(50% + 11.31%);
    left: calc(50% + 0.49%);
    width: 127.29%;
    position: absolute;
    
  }
  .mountain-9 {
    z-index: 5;
    top: calc(50% + 14.17%);
    width: 32.15%;
    left: calc(50% - 31.74%);
    position: absolute;
    
  }
  
  .mountain-8 {
    z-index: 14;
    top: calc(50% + 11.90%);
    width: 54.58%;
    left: calc(50% - 14.03%);
    position: absolute;
    
  }
  
  .fog-3 {
    z-index: 7;
    top: calc(50% + 20.36%);
    left: calc(50% + 2.01%);
    width: 31.18%;
    position: absolute;
    
  }
  
  .mountain-7 {
    z-index: 11;
    top: -119.05%;
    left: calc(50% - 4.86%);
    width: 35.76%;
    position: absolute;
    
  }
  
  .mountain-6 {
    z-index: 6;
    top: calc(50% + 10.30%);
    width: 26.63%;
    left: calc(50% + 40.97%);
    position: absolute;
    
  }
  .fog-4 {
    z-index: 11;
    top: calc(50% + 20.36%);
    left: calc(50%);
    width: 31.18%;
    position: absolute;
    
  }
  
  .mountain-5 {
    z-index: 16;
    top: calc(50% + 32.02%);
    width: 40.49%;
    left: calc(50% + 9.03%);
    position: absolute;
    
  }
  
  .fog-5 {
    z-index: 13;
    top: calc(50% + 17.74%);
    left: calc(50% - 1.94%);
    width: 99.65%;
    position: absolute;
    
  }
  
  .mountain-4 {
    z-index:24;
    top: calc(50% + 26.31%);
    width: 49.79%;
    left: calc(50% - 26.49%);
    position: absolute;
    
  }
  
  .mountain-3 {
    z-index: 15;
    top: calc(50% + 15.83%);
    left: calc(50% + 51.11%);
    width: 29.10%;
    position: absolute;
    
  }
  
  .fog-6 {
    z-index: 16;
    top: calc(50% + 21.07%);
    left: calc(50% - 6.94%);
    width: 98.47%;
    position: absolute;
    
  }
  
  .mountain-2 {
    z-index: 17;
    top: calc(50% + 22.38%);
    left: calc(50% + 28.61%);
    width: 43.40%;
    position: absolute;
    
  }
  
  .mountain-1 {
    z-index: 18;
    top: calc(50% + 10.89%);
    left: calc(50% - 41.74%);
    width: 31.25%;
    position: absolute;
    
  }
 .text{
    position: absolute;
    z-index: 15;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    pointer-events: auto;

 }
::selection{
  background-color: #353;
}
  .text h2{
    font-weight: 100;
    font-size: 6.5rem;


}
.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.8;


    }

 .sun-rays{
    position: absolute;
    z-index: 19;
    width: 41.67%;
    top:0;
    right:0;
    pointer-events: none;
 }

 .black-shadow{
    position: absolute;
    z-index: 19;
    width: 100%;
    top:60%;
    right:0;
    pointer-events: none;
 }

 .vignette{
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 45%,rgba(0,0,0,0.7 ));
    pointer-events: none;
 }

 .parallax {
  position: absolute;
   /* base centering */
  transition: transform 0.5s cubic-bezier(.15,.36,.29,.99); /* smooth movement */
}



  

@media(max-width:1100px){
  .text h1{
    font-size:5.8rem;

  }
  .text h2{
    font-size:4.7rem;
  }



}


@media(max-width:725px){
  .text h1{
    font-size:5rem;
    line-height:1.1;

  }
  .text h2{
    font-size:4.1rem;
    line-height:1.1;
  }
  .logo{
    width:45px;


  }
  header nav{
    padding: 0 1rem;
  }

  header ul a{
    font-size:0.73rem;
    padding:0 0.9rem;
  }

  /* Height adjustments for smaller screens */
  .bg-img{
    width: initial;
    height: 311.10%; /* 194.44% * 1.6 */
  }
  
  .fog-1{
    width: initial;
    height: 211.10%; /* 131.94% * 1.6 */
  }
  
  .mountain-10{
    width: initial;
    height: 96.67%; /* 60.42% * 1.6 */
  }
  
  .fog-2{
    width: initial;
    height: 203.66%; /* 127.29% * 1.6 */
  }
  
  .mountain-9{
    width: initial;
    height: 51.44%; /* 32.15% * 1.6 */
  }
  
  .mountain-8{
    width: initial;
    height: 87.33%; /* 54.58% * 1.6 */
  }
  
  .fog-3{
    width: initial;
    height: 49.89%; /* 31.18% * 1.6 */
  }
  
  .mountain-7{
    width: initial;
    height: 57.22%; /* 35.76% * 1.6 */
  }
  
  .mountain-6{
    width: initial;
    height: 42.61%; /* 26.63% * 1.6 */
  }
  
  .fog-4{
    width: initial;
    height: 49.89%; /* 31.18% * 1.6 */
  }
  
  .mountain-5{
    width: initial;
    height: 64.78%; /* 40.49% * 1.6 */
  }
  
  .fog-5{
    width: initial;
    height: 159.44%; /* 99.65% * 1.6 */
  }
  
  .mountain-4{
    width: initial;
    height: 79.66%; /* 49.79% * 1.6 */
  }
  
  .mountain-3{
    width: initial;
    height: 46.56%; /* 29.10% * 1.6 */
  }
  
  .fog-6{
    width: initial;
    height: 157.55%; /* 98.47% * 1.6 */
  }
  
  .mountain-2{
    width: initial;
    height: 69.44%; /* 43.40% * 1.6 */
  }
  
  .mountain-1{
    width: initial;
    height: 50%; /* 31.25% * 1.6 */
  }
  
  .sun-rays{
    width: initial;
    height: 66.67%; /* 41.67% * 1.6 */
  }
  
  /* Hamburger menu adjustments for smaller screens */
  .hamburger a{
    width: 30px;
    height: 30px;
  }
  
  .hamburger a .bar{
    width: 50%;
    height: 1px;
  }
  
  .hamburger .bar::before{
    top: -3.5px;
  }
  
  .hamburger .bar::after{
    top: 3.5px;
  }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Or any background color */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Initially hide the content and set up the fade-in transition */
#content {
    visibility: hidden; /* Hide it from view and interaction */
    opacity: 0; /* Make it fully transparent */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}