@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
  

}

.logo{
    width: 100px;
}
.maglens{
    width: 20px;
}

header{
    width:100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: absolute;
    z-index: 150;
    padding: 0.9rem;
    top: 0;
    left: 0;




}

header nav{
    
    max-width:1400px;
    margin:0 auto;
    padding:0.2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style:none;
    align-items:center;

}
header ul a{

    text-decoration:none;
    color:#fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-size: 0.83rem;
    font-weight: 300;

}  
.search a{
    padding: 0 3 rem;
}
.hamburger{
    padding-left: 1.5rem;
}
.hamburger a{
    padding: 0%;
    width:37px;
    height:37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius :50%;
    background-color: rgba(115,115,115,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px); ;

}

.hamburger a .bar{
    position:relative;
    width:52%;
    height:1.3px;
    background-color: #ffffff;
    border-radius:2px;
    z-index: 100;


}



.hamburger .bar::before,.hamburger .bar::after{

    content:"";
    position:absolute;
    left:50%;
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
    transform: translateX(-50%);


}

.hamburger .bar::before{

    top:-4.5px
}

.hamburger .bar::after{

    top:4.5px
}

main{
    position: relative;
    background-color: #353;
    height:100vh;
    width:100vw;
    overflow:hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
     
}

.bg-img{
    position: absolute;
    width:2800px;
    top: calc(50% - 390px);
    left: calc(50%);

    

}

.fog-1 {
    z-index: 2;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    width: 1900px;
    position: absolute;
    
  }
  
  .mountain-10 {
    z-index: 3;
    top: calc(50% + 69px);
    width: 870px;
    left: calc(50% + 230px);
    position: absolute;
    
  }
  
  .fog-2 {
    z-index: 4;
    top: calc(50% + 95px);
    left: calc(50% + 7px);
    width: 1833px;
    position: absolute;
    
  }
  .mountain-9 {
    z-index: 5;
    top: calc(50% + 119px);
    width: 463px;
    left: calc(50% - 457px);
    position: absolute;
    
  }
  
  .mountain-8 {
    z-index: 14;
    top: calc(50% + 100px);
    width: 786px;
    left: calc(50% - 202px);
    position: absolute;
    
  }
  
  .fog-3 {
    z-index: 7;
    top: calc(50% + 171px);
    left: calc(50% + 29px);
    width: 449px;
    position: absolute;
    
  }
  
  .mountain-7 {
    z-index: 11;
    top: - 1000px;
    left: calc(50% - 70px);
    width: 515px;
    position: absolute;
    
  }
  
  .mountain-6 {
    z-index: 6;
    top: calc(50% + 86.5px);
    width: 383.5px;
    left: calc(50% + 590px);
    position: absolute;
    
  }
  .fog-4 {
    z-index: 11;
    top: calc(50% + 171px);
    left: calc(50% );
    width: 449px;
    position: absolute;
    
  }
  
  .mountain-5 {
    z-index: 16;
    top: calc(50% + 269px);
    width: 583px;
    left: calc(50% + 130px);
    position: absolute;
    
  }
  
  .fog-5 {
    z-index: 13;
    top: calc(50% + 149px);
    left: calc(50% - 28px);
    width: 1435px;
    position: absolute;
    
  }
  
  .mountain-4 {
    z-index:24;
    top: calc(50% + 221px);
    width: 717px;
    left: calc(50% - 381.5px);
    position: absolute;
    
  }
  
  .mountain-3 {
    z-index: 15;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
    width: 419px;
    position: absolute;
    
  }
  
  .fog-6 {
    z-index: 16;
    top: calc(50% + 177px);
    left: calc(50% - 100px);
    width: 1418px;
    position: absolute;
    
  }
  
  .mountain-2 {
    z-index: 17;
    top: calc(50% + 188px);
    left: calc(50% + 412px);
    width: 625px;
    position: absolute;
    
  }
  
  .mountain-1 {
    z-index: 18;
    top: calc(50% + 91.5px);
    left: calc(50% - 601px);
    width: 450px;
    position: absolute;
    
  }
 .text{
    position: absolute;
    z-index: 15;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    pointer-events: auto;

 }
::selection{
  background-color: #353;
}
  .text h2{
    font-weight: 100;
    font-size: 6.5rem;


}
.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.8;


    }

 .sun-rays{
    position: absolute;
    z-index: 19;
    width: 600px;
    top:0;
    right:0;
    pointer-events: none;
 }

 .black-shadow{
    position: absolute;
    z-index: 19;
    width: 100%;
    top:60%;
    right:0;
    pointer-events: none;
 }

 .vignette{
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 45%,rgba(0,0,0,0.7 ));
    pointer-events: none;
 }

 .parallax {
  position: absolute;
   /* base centering */
  transition: transform 0.5s cubic-bezier(.15,.36,.29,.99); /* smooth movement */
}



  

